.has-search  {position: relative;}
.form-control {
  border-radius: 25px; height:50px; background-color: #eee;
}
.has-search .form-control-feedback {
  position: absolute; right:15px; top:15px;
  z-index: 2; display: block;
  width: 20px; height: 20px; line-height: 20px;
  text-align: center; color: #aaa;
  pointer-events: none;
}

.layout-image {
  border: 1px solid #ccc;
  border-radius: 25px;
  width:100%;
  height: 250px;
}
.layout-title {
  text-align:left;
  font-size: 1em;
}
.box { position: relative; }
.box .fav-feedback {
  position: absolute; right:30px; top:15px;
  z-index: 2; display: block;
  width: 30px; height: 30px; line-height: 30px;
  text-align: center; color: rgb(230, 82, 82);
  pointer-events: none;
  border:2px solid #aaa;
  border-radius:15px;
  background-color: #fff;
}

.tab > div{
  display:flex; justify-content:center; align-items:center;
  color: #333;
  background-color: #fff;
}

.tab .active{
  color: #fff;
  background-color: #666;
}

.main-view { position: relative; }
.main-view .of-gallary {
  position: absolute; left:50px; top:50px;
  z-index: 2; display: block;
  width: 150px; height: 40px; line-height: 40px;
  text-align: center; color: #fff;
  border-radius:15px;
  font-size:12px;
  background-color: #666;
  cursor: pointer;
}
.fa-image{
  font-size:20px;
}
.main-view .of-tools {
  position: absolute; right:50px; top:50px;
  z-index: 2; display: block;
  width: 150px; height: 40px; line-height: 40px;
  text-align: center; color: #fff;
  pointer-events: none;
  border-radius:15px;
  font-size:20px;
  background-color: #666;
}
.main-view .of-home {
  position: absolute; right:50px; bottom:50px;
  z-index: 2; display: block;
  width: 100px; height: 100px; line-height: 80px;
  text-align: center; color: #666;
  border:10px solid #ddd;
  border-radius:50px;
  font-size:40px;
  background-color: #fff;
  cursor: pointer;
}
.of-tools > span{
  margin-right:20px;
}
.closeDetails{
  cursor: pointer;
  font-size:20px;
}