body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeCol {
  padding-left: 20%;
  text-align: center;
  align-items: center;
  align-self: center;
}

.homeCard {
  width: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
  height: 80%;
  border: 800px;
  box-shadow: black;
  text-align: center;
  align-items: center;
  align-self: center;
}

.cardImg {
  width: 100%;
}
.cardLink {
  width: 50%;
  font-size: 80em;
  align-self: center;
  margin-top: 5%;
  margin-left: 5%;
}

.row {
  height: 600px;
}
